
body {
    font-family: 'Outfit', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    color: #333;
}

h2, h3 {
    color: crimson;
}

h4 {
    color: crimson;
    text-align: center;
}

table {
    margin: 0 auto;
}

footer {
    padding: 20px;
    color: white;
    background-color: crimson;
    text-align: center;
    font-weight: bold;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: crimson;
    margin: 10px;
}

nav a:hover {
    font-weight: bold;
}

.profile header {
    text-align: center;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.profile img {
    width: 200px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.atas {
    font-size: 20px;
    padding: 60px;
    background-color: crimson;
    text-align: center;
    color: white;
}

nav ul {
    padding-inline: 4rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

nav li {
    list-style-type: none;
}

nav {
    background-color: white;
    padding: 5px;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 4px rgba(247, 5, 5, 0.975);
    z-index: 1000;
}

main {
    padding: 20px;
    display: flex;
    gap: 1.5rem;
}

#content {
    flex: 5;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem 2rem;
}

aside {
    flex: 1;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    font-size: 15px;
    text-align: left;
}

header {
    display: inline;
}

@media screen and (max-width: 1200px) {
    main {
        flex-flow: column nowrap;
    }

    main aside {
        align-self: center;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        justify-content: center;
    }

    main aside {
        align-self: stretch;
    }
}
